<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contact</li>
  </ol>
</nav>

<h2 class="featurette-heading">
  Contact.
  <span class="text-muted">
    Checkmate.
  </span>
</h2>

<hr class="featurette-divider">

<p class="lead">
  Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
  Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
</p>

<% if @error && @error.length > 0 then %>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end %>

<form action="/contact" method="post" class="needs-validation" novalidate>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInputName" name="name" value="<%= @name %>" placeholder="" required>
    <label for="floatingInputName">Name</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please put your name.
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInputEmail" name="email" value="<%= @email %>" placeholder="" required>
    <label for="floatingInputEmail">Email</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please put your email.
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInputSubject" name="subject" value="<%= @subject %>" placeholder="" required>
    <label for="floatingInputSubject">Subject</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please put a subject.
    </div>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" id="floatingInputMessage" name="message" style="height: 100px" value="<%= @message %>" placeholder="" required></textarea>
    <label for="floatingInputMessage">Message</label>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please put a message.
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<hr class="featurette-divider">